@model IEnumerable<Employees.Data.Models.Employee>

@{
    ViewBag.Title = "Index";
    ViewBag.Message = "Hello !";
}

<h2>@ViewBag.Message</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Scripts.Render("~/Content/JavaScript/js.js")


@using (Html.BeginForm())
{
    <div class="form-group has-search">
        <input type="text" name="SearchString" value="" placeholder="search.." onkeypress="myFunction()" />
    </div>

}


<p>
    @Html.ActionLink("gmail", "Find")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_Employee", item)
}


<p id="demo">A Paragraph.</p>

